/* styles.css */

.app-main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  color: #333;
}

.content-column,
.nav-column {
  border-radius: 1px 20px 30px 40px;
}

.custom-font {
  font-family: "Your Custom Font", sans-serif;
}

.text-blue-500 {
  color: #0074d9; /* İstenilen mavi tonuna göre renk kodunu değiştirin */
}

.right-align {
  text-align: right;
}

.content-left-offset {
  padding-top: 300px; /* İstenilen boşluk değerini buraya ekleyin */
}

.empty-block {
  height: 50px; /* İhtiyaç doğrultusunda yüksekliği ayarlayın */
}

.bg-sea-green {
  background-color: rgb(226, 244, 220);
  /* İstenilen stil değişikliklerini buraya ekleyin */
}
.bg-light-grey {
  background-color: rgb(232, 232, 232);
  /* İstenilen stil değişikliklerini buraya ekleyin */
}

.gray-text {
  color: rgb(115, 113, 113);
  /* İstenilen stil değişikliklerini buraya ekleyin */
}

.justify-end {
  justify-content: flex-end;
  /* İstenilen stil değişikliklerini buraya ekleyin */
}
.rounded-lg-more {
  border-radius: 20px; /* Adjust the value to make the corners more rounded */
}
/* styles.css */

/* styles.css */

/* Add the following classes for Flexbox alignment */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

/* Rest of your CSS code */

/* Rest of your CSS code */
