.app-main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

  color: #333;
}

.content-column,
.nav-column {
  border-radius: 10px 20px 30px 40px;
}
